<head>
  <title>Klar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:300,400,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/nouislider.min.css">
  <link rel="stylesheet" href="css/bootstrap-datetimepicker.css">
  <link rel="stylesheet" href="css/style.css">
</head>


<body>


  <div class="site-section bg-image" style="opacity:100%; background-image: url('images/background.jpeg')">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 mx-auto text-center align-self-center">
          <h1 class="font-weight-bold mb-0 text-white">KLAR</h1>
          <p class="text-white">CAPTURE. CHOOSE. CHERISH.</p>
          <h2> Give us your exhaustive album of photos, and we'll choose the best ones for you</h2>
          <p style="margin-top: 70px;"><a href="/upload" class="btn btn-primary px-4 py-3">Upload photos now</a></p>

        </div>
      </div>

    </div>
  </div>

  <div class="site-section  " style="background-color: black;">
    <div class="container" style="background-color:black;">
      <div class="section-heading mb-5">
        <center><b>
            <h3 style="color: white; margin-top: 0px">About the company</h3>
          </b></center>
        <center>
          <p style="color: white;">Klar is a company that aims to take automated photo-filtration to the next level.
            With the help of APIs, we
            take your photos and choose the best of the best.</p>
          <p style="color: white;">It's three easy steps to follow:</p>
          <p style="color: white;">1. Upload all your photos to our website</p>
          <p style="color: white;">2. Choose your filtering criterion</p>
          <p style="color: white;">3. Sit back and watch us do the rest!</p>
        </center>
      </div>
      <div class="row">
      </div>
    </div>
  </div>


  <div class="site-section bg-light">
    <div class="container">
      <div class="section-heading mb-5">
        <center><b>
            <h3>Meet the team!</h3>
          </b></center>
      </div>
      <div class="row">
        <div class="col-lg-3 text-center">
          <span class="mb-3 d-block"><b>Sameer Pujji</b></span>
          <img src="images/sameer.jpg" alt="Image" class="img-fluid w-75 rounded-circle"
            style="border-radius: 50% ;width:20px">
        </div>
        <div class="col-lg-3 text-center">
          <span class="mb-3 d-block"><b>Farhan Zaman</b></span>
          <img src="images/farhan.jpg" alt="Image" class="img-fluid w-75 rounded-circle"
            style="border-radius: 50% ;width:20px ;">
        </div>
        <div class="col-lg-3 text-center">
          <span class="mb-3 d-block"><b>Aashrit Luthra</b></span>
          <img src="images/aashrit.jpg" alt="Image" class="img-fluid w-75 rounded-circle"
            style="border-radius: 50% ;width:20px ;">
        </div>
        <div class="col-lg-3 text-center">
          <span class="mb-3 d-block"><b>Chevieve Heri</b></span>
          <img src="images/chev.jpg" alt="Image" class="img-fluid w-75 rounded-circle"
            style="border-radius: 50% ;width:20px ;">
        </div>
      </div>
    </div>
  </div>


  <div class="site-section" style="background-color: #f5c3e6; padding:10px; padding-top:20px">
    <div class="container">
      <div class="row justify-content-center text-center">

        <p>

          &copy;
          <script>document.write(new Date().getFullYear());</script> Klar. All Rights Reserved.
        </p>

      </div>
    </div>
  </div>




  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content rounded-0">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><span class="icon-close2"></span></span>
          </button>
        </div>
        <div class="modal-body">
          <p>Mist enveloped the ship three hours out from port. A shining crescent far beneath the flying vessel. All
            their equipment and instruments are alive. The sky was cloudless and of a deep dark blue. A shining crescent
            far beneath the flying vessel.</p>
          <p>All their equipment and instruments are alive. A shining crescent far beneath the flying vessel. The sky
            was cloudless and of a deep dark blue. </p>
        </div>
      </div>
    </div>
  </div>




  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/moments.min.js"></script>
  <script src="js/bootstrap-datetimepicker.js"></script>
  <script src="js/nouislider.min.js"></script>
  <script src="js/main.js"></script>
</body>